In [1]:
import numpy as np

### 1). Create a tuple called data with two values, (1, 2) and (3, 4)

In [5]:
data=((1,2),(3,4))

In [6]:
data

((1, 2), (3, 4))

### 2). Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [7]:
numbers=[4,3,2,1]

In [8]:
numbers

[4, 3, 2, 1]

### 3). Create a copy of the number list using [:]

In [ ]:
list_copy=numbers.copy()
list_copy

### 4). Sort the numbers list in numerical order

In [11]:
numbers.sort(reverse=False)
numbers

[1, 2, 3, 4]

### 5). Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [12]:
cardinal_numbers=('first','second','third')
cardinal_numbers

('first', 'second', 'third')

### 6). Display the second object in the tuple

In [17]:
cardinal_numbers[1]

'second'

In [16]:
cardinal_numbers[2]

'third'

### 7). Unpack the tuple into three strings and display them

In [19]:
cardinal_numbers

('first', 'second', 'third')

In [20]:
(val1,val2,val3)=cardinal_numbers
print(val1,val2,val3)

first second third

In [22]:
fruits=('green grapes','simla apple','srinagar apple')
(grap,*types)=fruits
print(grap," ",types)

green grapes   ['simla apple', 'srinagar apple']

### 8). Create a tuple containing the letters of your name from a string

In [23]:
String="Hemanth"
String[0]

'H'

In [24]:
name=tuple(String[:])

In [25]:
name

('H', 'e', 'm', 'a', 'n', 't', 'h')

### 9) Check whether or not x is in my_name

In [49]:
name1=input("enter your name in lower case : ")
my_name=tuple(name1[:])
count=0
char='x'
for item in my_name:
    if item==char:
        count+=1
        print(char,'is in my name ')
if count!=1:
    print(char,"is Not in my_name")
print(my_name)

enter your name : xevier
x is in my name
('x', 'e', 'v', 'i', 'e', 'r')

### 10). Check whether or not s is in my_name

In [47]:
name1=input("enter your name in lower case: ")
my_name=tuple(name1[:])
count=0
char='s'
for item in my_name:
    if item==char:
        count+=1
        print(char,' is in my name ')
if count!=1:
    print(char,"is Not in my_name")
print(my_name)

enter your name : Hemanth
s is Not in my_name
('H', 'e', 'm', 'a', 'n', 't', 'h')